:root {
    --text-primary: #003338;
    --text-secondary: #4b7aa9;
    --accent: #d989b1;
    --accent-opacity: #e6d1d3;
    --bg-color: #d7eaf3;
    --elevation-one: #edf9fd;
    --elevation-two: #e3dcd175;
    --elevation-three: #92797340;
    --elevation-four: #d5c8bb;
    --elevation-five: #dfd8ccce;
    --elevation-six: #dbd4d09e;
}
